@model ChangePasswordDto
@{
    Layout = null;
}
<form asp-action="ChangePassword" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-2">
        <label>رمز عبور جدید</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="col-4 offset-4 gap-2 d-grid">
        <input type="submit" value="ثبت" class="btn btn-success" />
    </div>
</form>