@model UserLoginedDto

<a href="#" class="dropdown-toggle dropdown-hover" data-bs-toggle="dropdown">
    <span>@Model.Fullname</span>
    <i class="icon-arrow-down"></i>
</a>
<ul class="dropdown-menu">
   
    <li>
        <a href="#">
            <i class="icon-wallet"></i>
            کیف پول
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a asp-controller="Account" asp-action="Logout">
            <i class="icon-power"></i>
            خروج
        </a>
    </li>
</ul>